{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Accueil Admin{% endblock %}

{% block main %}

<h1 class="text-center mb-5">Bienvenue sur l'espace administrateur <br>QCM <br>"app.user.firstName"
</h1>


{% endblock %}