{% extends 'base.html.twig' %}

{% block title %}Edit ReponsesEleves{% endblock %}

{% block body %}
    <h1>Edit ReponsesEleves</h1>

    {{ include('reponses_eleves/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reponses_eleves_index') }}">back to list</a>

    {{ include('reponses_eleves/_delete_form.html.twig') }}
{% endblock %}
